<div class="container">
  <h3 class="text-center">Fischer-Lizenz Manager - Online-Verwaltung für Fischereilizenzen:</h3>
  <section>
    <p>
      Der Fischer-Lizenz Manager ist eine umfassende webbasierte Anwendung, die es Fischervereinen ermöglicht, ihre
      Fischereilizenzen online zu verwalten. Die Plattform bietet Funktionen zur Mitgliederverwaltung, Erfassung neuer
      Lizenzen und Online-Führung der Fangstatistik. Zusätzlich können verschiedene Excel-Dateien generiert werden, wie
      beispielsweise Mitgliederlisten, Lizenzübersichten und jährliche Fangstatistiken.
    </p>
    <h4>Beschreibung:</h4>
    <p>
      Die Applikation ist anpassbar und bietet einen personalisierten Bereich für Fischervereine. Die Startseite enthält
      Informationen über den eingeloggten Benutzer, die Vereinsadresse, Schonzeiten, Mindestmasse der Fische und
      Fischereivorschriften.
    </p>
  </section>
  <section>
    <gallery *ngIf="galleryConfig$ | async; let config"
             [items]="images"
             [thumbWidth]="config.thumbWidth"
             [thumbHeight]="config.thumbHeight"
             [thumbPosition]="config.thumbPosition"
             [imageSize]="'contain'"
             [counter]="false"
             [itemAutosize]="false"
             [autoHeight]="false"
             [playerInterval]="5000"
             [autoPlay]="false"></gallery>
  </section>
  <section>
    <h4>Funktionen:</h4>
    <ol>
      <li>Lizenzen:</li>
      <ul>
        <li>Mitglieder können ihre Lizenzen einsehen und das Ablaufdatum überprüfen.</li>
        <li>Neue Lizenzen können vom Administrator ausgestellt und bearbeitet werden.</li>
      </ul>
      <li>Statistik:</li>
      <ul>
        <li>Benutzer können ihre Fangstatistik online führen.</li>
        <li>Administrator und Aufseher haben Zugriff auf die Fangstatistiken der Mitglieder.</li>
      </ul>
      <li>Fische und Schonzeiten:</li>
      <ul>
        <li>Erfassung von Fischarten mit Mindestmaßen und Schonzeiten.</li>
        <li>Automatische Anzeige auf der Startseite.</li>
      </ul>
      <li>Regeln und Vorschriften:</li>
      <ul>
        <li>Definition eigener Regeln mit der Möglichkeit, Links zu PDFs oder Webseiten hinzuzufügen.</li>
      </ul>
      <li>Excel-Export:</li>
      <ul>
        <li>Generierung von Excel-Dateien für Mitglieder, Lizenzen und jährliche Fangstatistiken.</li>
      </ul>
      <li>User-Verwaltung:</li>
      <ul>
        <li>Administrator kann alle registrierten Benutzer überblicken und bearbeiten.</li>
        <li>Deaktivierung von Benutzern und Vergabe von Administratorrechten.</li>
      </ul>
      <li>Aufseher-Übersicht:</li>
      <ul>
        <li>Aufseher haben Zugriff auf die Lizenzen und Fangstatistiken der Mitglieder.</li>
      </ul>
    </ol>
  </section>
  <section>
    <h4>Verwendete Technologien:</h4>
    <ul>
      <li><b>Frontend:</b> Angular, Bootstrap</li>
      <li><b>Backend:</b> .NET Core 5 (RESTful API in C#)</li>
      <li><b>Datenbank:</b> Microsoft SQL</li>
    </ul>
  </section>
  <section>
    <h4>Umsetzung:</h4>
    <p>
      Das Frontend wurde mit Angular und Bootstrap für die Darstellung entwickelt. Das Backend wurde als RESTful API mit
      .NET Core 5 in C# programmiert. Die gesamte REST-API wurde vollständig asynchron implementiert, um eine effiziente
      Kommunikation zu gewährleisten. Die Daten werden sicher in einer Microsoft SQL-Datenbank gespeichert.
    </p>
    <h4>Demo-Version:</h4>
    <p>
      Für Testzwecke steht eine Demo-Version zur Verfügung. Mit den Testusern Admin, Aufseher und User können die
      verschiedenen Rollen der Plattform getestet werden. Einige Features sind in der Demo-Version eingeschränkt.
    </p>
  </section>
  <div class="demoButton">
    <button class="btn btn-success" (click)="onDemoClick()">Demo testen</button>
  </div>
</div>

