.container {
  margin-top: 5%;
}

h3 {
  font-family: 'Metal Mania', cursive;
  color: #f60c65;
}

h4 {
  color: #5751a4;
}

.demoButton {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

section {
  margin-top: 20px;
}
