.footer{
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-between;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: red;
}
.content div:hover{
  cursor: pointer;
}
.copyright{
  text-align: center;
  color: black;
  font-family: 'Metal Mania', cursive;
}
