<div class="container">
  <h3 class="text-center">Schweizer Gewässer Daten - Immer informiert über die aktuellen Messungen:</h3>
  <p>
    Die Applikation "Schweizer Gewässer Daten" ermöglicht es Anglern und anderen Interessierten, die aktuellen Messdaten
    verschiedener Gewässer in der Schweiz abzurufen. Hier sind die Hauptfunktionen der Anwendung:
  </p>
  <section>
    <gallery *ngIf="galleryConfig$ | async; let config"
             [items]="images"
             [thumbWidth]="config.thumbWidth"
             [thumbHeight]="config.thumbHeight"
             [thumbPosition]="config.thumbPosition"
             [imageSize]="'contain'"
             [counter]="false"
             [itemAutosize]="false"
             [autoHeight]="false"
             [playerInterval]="5000"
             [autoPlay]="false"></gallery>
  </section>
  <section>
    <h4>Startseite:</h4>
    <ul>
      <li>Die Startseite präsentiert alle verfügbaren Stationen mit den aktuellen Messdaten.</li>
      <li>Jede Station wird durch eine Card repräsentiert, die die verfügbaren Messdaten anzeigt.</li>
      <li>Eine Suchleiste erleichtert die Navigation durch alle Stationen.</li>
      <li>Ein Dropdown-Menü nach Kantonen ermöglicht das Sortieren aller Gewässer nach Regionen.</li>
      <li>Benutzer können ihre Lieblingsstationen markieren und nach diesen sortieren.</li>
    </ul>
    <h4>Detailansicht:</h4>
    <ul>
      <li>Durch Klicken auf "Details" können Benutzer eine detaillierte Ansicht jeder Station anzeigen.</li>
      <li>Für jede verfügbare Messung werden der aktuelle Wert, der Mittelwert der letzten 24 Stunden, der maximale Wert
        der letzten 24 Stunden und der minimale Wert der letzten 24 Stunden angezeigt.
      </li>
      <li>Wenn die Station Temperaturmesswerte hat, werden alle Messungen der letzten 7 Tage in einem Diagramm
        präsentiert.
      </li>
    </ul>
    <h4>Öffentliche API:</h4>
    <ul>
      <li>Die Applikation bietet eine öffentliche API, über die Benutzer Daten direkt als JSON abrufen können.</li>
      <li>Durch die Bereitstellung eines API-Schlüssels können Entwickler die Daten in eigenen Anwendungen
        weiterverarbeiten.
      </li>
    </ul>
  </section>
  <section>
    <h4>Verwendete Technologien:</h4>
    <ul>
      <li><b>Frontend:</b> Angular 13.3.0, Bootstrap 5</li>
      <li><b>Backend:</b> .NET 6 (RESTful API in C# mit GRPC)</li>
      <li><b>Datenbank:</b> Microsoft SQL</li>
    </ul>
    <h4>Umsetzung:</h4>
    <ul>
      <li>Das Frontend wurde mit Angular und Bootstrap für die Darstellung entwickelt.</li>
      <li>Das Backend wurde als RESTful API mit .NET 6 in C# asynchron programmiert, wobei auch ein GRPC-Service für die
        Stationsdaten implementiert wurde.
      </li>
      <li>Die Daten werden sicher in einer Microsoft SQL-Datenbank gespeichert.</li>
    </ul>
    <h4>Schweizer Gewässerdaten Webseite:</h4>
    <p>Die Anwendung steht zur Nutzung bereit.</p>
  </section>
  <div class="demoButton">
    <button (click)="onGoToWebsite()" class="btn btn-success">Zur Webseite</button>
  </div>
</div>
