<div class="container">
  <h3 class="text-center">Felchen App - Die App für leidenschaftliche Felchen-Fischer:</h3>
  <p>
    Die Felchen App ist das Ergebnis meiner Ausbildung zum Applikationsentwickler, bei der ich die Herausforderung
    hatte, eine mobile App mit ReactNative zu entwickeln. Ursprünglich für den persönlichen Gebrauch konzipiert, wurde
    die App später komplett überarbeitet und mit Ionic neu implementiert. Das eigene Backend und eine Login-Funktion
    wurden hinzugefügt, um die App auf eine breitere Nutzerbasis auszurichten.
  </p>
  <h4>Beschreibung:</h4>
  <p>
    Die Felchen App bietet passionierten Felchen-Fischern die Möglichkeit, ihre Fänge systematisch zu speichern. Die App
    unterstützt die Komplexität der Felchen-Fischerei, bei der verschiedene Nymphen mit Unterschieden in Farbe,
    Hakengröße und anderen Merkmalen verwendet werden.
  </p>
  <section>
    <gallery *ngIf="galleryConfig$ | async; let config"
             [items]="images"
             [thumbWidth]="config.thumbWidth"
             [thumbHeight]="config.thumbHeight"
             [thumbPosition]="config.thumbPosition"
             [imageSize]="'contain'"
             [counter]="false"
             [itemAutosize]="false"
             [autoHeight]="false"
             [playerInterval]="5000"
             [autoPlay]="false"></gallery>
  </section>
  <section>
    <h4>Funktionen:</h4>
    <ol>
      <li>Statistik Screen:</li>
      <ul>
        <li>Anzeigen aller gespeicherten Fänge nach Datum sortiert.</li>
        <li>Zugriff auf den Detail Screen für jeden einzelnen Fang.</li>
      </ul>
      <li>Detail Screen:</li>
      <ul>
        <li>Detaillierte Anzeige aller gespeicherten Daten für einen bestimmten Fang.</li>
        <li>Möglichkeit, einen Fang zu löschen.</li>
      </ul>
      <li>Fang hinzufügen:</li>
      <ul>
        <li>Erfassung neuer Fangdaten, darunter Wetterinformationen automatisch über eine API.</li>
        <li>Manuelle Anpassung der Wetterdaten möglich.</li>
      </ul>
      <li>Wetterdaten:</li>
      <ul>
        <li>Automatisches Laden von Wetterdaten per GPS oder manuelle Eingabe von PLZ oder Ort.</li>
        <li>Dynamische Hintergrundänderungen basierend auf Wetter und Uhrzeit.</li>
      </ul>
      <li>Einstellungen:</li>
      <ul>
        <li>Benutzer können persönliche Angaben wie Namen oder E-Mail-Adresse ändern.</li>
        <li>Funktionen zum Ausloggen, Passwort ändern oder den Account löschen.</li>
      </ul>
    </ol>
  </section>
  <section>
    <h4>Vorgesehene Features:</h4>
    <ul>
      <li>Öffentliche Fänge anderer App-Benutzer.</li>
      <li>Bearbeiten von gespeicherten Fängen.</li>
      <li>Sortieren der Fänge.</li>
    </ul>
  </section>
  <section>
    <h4>Verwendete Technologien:</h4>
    <ul>
      <li><b>Frontend:</b> Ionic</li>
      <li><b>Backend:</b> ASP.NET (RESTful API in C#)</li>
      <li><b>Datenbank:</b> Microsoft SQL</li>
    </ul>
  </section>
  <section>
    <h4>Umsetzung:</h4>
    <p>
      Die App wurde mit Ionic entwickelt und kommuniziert über das HTTP-Protokoll mit der RESTful API, die mit ASP.NET
      und C# erstellt wurde. Die Daten werden in einer Microsoft SQL-Datenbank gespeichert.
    </p>
    <p>
      Mit der Felchen App steht eine benutzerfreundliche Plattform zur Verfügung, die nicht nur die Speicherung von
      Fängen ermöglicht, sondern auch durch die Integration von Wetterdaten und geplanten Features eine umfassende
      Erfahrung für Felchen-Fischer bietet.
    </p>
  </section>
</div>


