<div class="container">
  <h3>Webseite GamingFactory</h3>
  <p>Ich bin leidenschaftlicher Spielekonsolen Sammler.</p>
  <p>Da bei den Konsolen auch ab und zu mal etwas Defekt geht oder die Geräte nach und nach auch mal gereinigt werden müssen,
    habe ich mir diese Fähigkeiten angelernt.
  </p>
  <p>Nach einem Weilchen sprach Sich herum das ich Konsolen repariere, reinige oder modifiziere und ich erhielt diverse Anfragen.</p>
  <p>Nach einer Weile gründete ich GamingFactory und machte in meiner Freizeit Reparaturen und Umbauten für Kunden</p>
  <p>Als ich mich Entschied eine neue Lehre als Applikationsentwickler zu absolvieren, wurde der Shop mehr oder weniger eingestellt.</p>
  <p>Um mein gelerntes Wissen mit Angular weiterzutreiben habe ich mich Entschlossen die Webseite GamingFactory zu programmieren</p>
  <hr>
  <h4>Beschreibung:</h4>
  <p>Die Webseite war zum Start noch grösser und es war ein Online Shop angebunden.</p>
  <p>Da ich mich nun komplett auf meinen neuen Beruf als Applikation Entwickler konzentrieren möchte, habe ich alle Reparaturen eingestellt.</p>
  <p>Die Webseite dient aktuell als kleines Info Portal, mit diversen Tutorials.</p>
  <hr>
  <h4>Verwendete Technologien:</h4>
  <ul>
    <li>Angular</li>
    <li>HTML 5</li>
    <li>CSS 3</li>
    <li>Angular Material</li>
    <li>ASP.NET</li>
  </ul>
  <hr>
  <h4>Umsetzung:</h4>
  <p>Die Webseite wurde mit Angular umgesetzt. Für das Design wurde zudem diverse Angular Material Komponente verwendet.</p>
  <p>Das Kontaktformular kommuniziert über eine kleine API welche in .NET mit C# programmiert wurde</p>
  <div class="buttonContainer">
    <button class="btn btn-success" (click)="onClick()">Zu GamingFactory.ch</button>
  </div>

</div>
