<div class="container">
  <h3>Webseite Glasbläserei Egli</h3>
  <p>Die Firma Glasbläserei-Egli haben meine Grosseltern aufgebaut und wird von meiner Mutter als Einzelunternehmer weitergeführt.</p>
  <p>Da man in der heutigen Zeit fast nicht um die Digitalisierung herumkommt, habe ich auch bei meiner Mutter einige Sachen digitalisiert und vereinfacht.</p>
  <p>Um meine gelernten Kenntnisse weiter zu vertiefen und neues zu lernen, habe ich die Webseite Glasbläserei-Egli programmiert.</p>
  <hr>
  <h4>Beschreibung:</h4>
  <p>Die Website dient als Internetpräsenz für die Firma Glasbläserei-Egli, welche meiner Mutter gehört.</p>
  <p>Auf der Seite wird die Geschichte der Firma beschrieben, sowie die Hauptprodukte vorgestellt.</p>
  <p>Die Webseite hat zudem  einen Admin Bereich, um Daten zu bearbeiten.</p>
  <hr>
  <h4>Verwendete Technologien:</h4>
  <ul>
    <li>Angular</li>
    <li>HTML 5</li>
    <li>CSS 3</li>
    <li>Angular Material</li>
    <li>ASP.NET</li>
    <li>MSSQL</li>
  </ul>
  <hr>
  <h4>Umsetzung:</h4>
  <p>Die Webseite wurde mit Angular umgesetzt. Für das Design wurde zudem diverse Angular Material Komponente verwendet.</p>
  <p>Es wurde ein Admin Bereich eingerichtet mit Login Funktion.</p>
  <p>Für das Backend wurde eine RESTFull API mit .NET in C# programmiert.</p>
  <p>Die Daten werden in einer Microsoft SQL-Datenbank gespeichert</p>
  <div class="buttonContainer">
    <button class="btn btn-success" (click)="onClick()">Zu Glasbläserei-Egli.ch</button>
  </div>

</div>

