.navbar-brand {
  font-weight: bold;
  font-family: 'Metal Mania', cursive;
}
.nav-link.active {
  color: red !important;
}
.nav-link:hover {
  color: gold !important;
}
.container {
  min-height: calc(100vh - 50px);
}
