<div class="container">
  <h3 class="text-center">Kostenmanager - Behalten Sie Ihre Finanzen im Blick:</h3>
  <p>
    Die Kostenmanager-App ermöglicht es Ihnen, Ausgaben und Einnahmen bequem online zu erfassen und zu verwalten. Hier sind einige der Funktionen, die Ihnen die App bietet:
  </p>
  <section>
    <gallery *ngIf="galleryConfig$ | async; let config"
             [items]="images"
             [thumbWidth]="config.thumbWidth"
             [thumbHeight]="config.thumbHeight"
             [thumbPosition]="config.thumbPosition"
             [imageSize]="'contain'"
             [counter]="false"
             [itemAutosize]="false"
             [autoHeight]="false"
             [playerInterval]="5000"
             [autoPlay]="false"></gallery>
  </section>
  <section>
    <h4>Funktionen:</h4>
    <ol>
      <li>Übersichtliche Startseite:</li>
      <ul>
        <li>Die Startseite zeigt immer den aktuellen Monat an.</li>
        <li>Ein % Balken visualisiert die Ausgaben im Verhältnis zum Budget, wenn in den Einstellungen ein Budget gesetzt wurde.</li>
        <li>Bei Nutzung von Einnahmen wird die Differenz zwischen Einnahmen und Ausgaben berechnet.</li>
      </ul>
      <li>Kategoriebasierte Ausgaben:</li>
      <ul>
        <li>Alle Ein- und Ausgaben können in Kategorien unterteilt werden.</li>
        <li>Die App zeigt Ausgaben pro Kategorie, berechnet den Prozentsatz der Kategorie zu den Gesamtausgaben und listet sie übersichtlich auf.</li>
      </ul>
      <li>Schnelle Erfassung von Ausgaben:</li>
      <ul>
        <li>Mit einem Klick auf "Ausgabe erfassen" können Sie schnell eine neue Ausgabe eingeben.</li>
        <li>Sie können die Kategorie auswählen oder eine neue Kategorie direkt erfassen.</li>
      </ul>
      <li>Ausgabenverwaltung:</li>
      <ul>
        <li>Die Ausgabenseite zeigt alle Ausgaben des aktuellen Monats an.</li>
        <li>Jede Ausgabe kann bearbeitet oder gelöscht werden.</li>
        <li>Sie haben Zugriff auf Ausgaben bis zu 4 Jahre zurück oder 1 Jahr in die Zukunft.</li>
      </ul>
      <li>Kategorienverwaltung:</li>
      <ul>
        <li>Auf der Kategorienseite können Sie Ihre erfassten Ein- und Ausgabenkategorien verwalten.</li>
        <li>Neue Kategorien können hinzugefügt, bearbeitet oder gelöscht werden.</li>
      </ul>
      <li>Statistikübersicht:</li>
      <ul>
        <li>Die Statistikseite zeigt Diagramme der Ausgaben für das aktuelle Jahr an.</li>
        <li>Bei Nutzung von Einnahmen gibt es auch ein Diagramm für die Einnahmen und die Differenz zwischen Ein- und Ausgaben.</li>
        <li>Sie können Jahres- und Monatsstatistiken als Excel herunterladen.</li>
      </ul>
      <li>Benutzereinstellungen:</li>
      <ul>
        <li>In den Einstellungen kann der Benutzer seinen Account verwalten.</li>
        <li>Es kann eingestellt werden, ob die Applikation nur mit Ausgaben geführt werden soll.</li>
        <li>Das Monatsbudget kann hier angepasst werden.</li>
      </ul>
    </ol>
  </section>
  <section>
    <h4>Verwendete Technologien:</h4>
    <ul>
      <li><b>Frontend:</b> Angular 13.1.1, Bootstrap 5</li>
      <li><b>Backend:</b> .NET 6 (RESTful API in C#)</li>
      <li><b>Datenbank:</b> Microsoft SQL</li>
    </ul>
    <h4>Umsetzung:</h4>
    <p>
      Das Frontend wurde mit Angular und Bootstrap für die Darstellung programmiert. Das Backend wurde als RESTful API mit .NET 6 in C# asynchron entwickelt. Die Daten werden sicher in einer Microsoft SQL-Datenbank gespeichert.
    </p>
    <h4>Kostenmanager ausprobieren:</h4>
    <p>Die Anwendung steht zum Ausprobieren bereit.</p>
  </section>
  <div class="demoButton">
    <button class="btn btn-success" (click)="onDemoClick()">Zum Kostenmanager</button>
  </div>
</div>
