<div class="container">
  <h3>Game Inventory</h3>
  <p>Da ich leidenschaftlicher Spielekonsole Sammler bin, besitze ich diverse Konsolen und Games.</p>
  <p>Damit man nicht alle Spiele der Konsolen durchsuchen muss wen man ein Spiel sucht, oder nachschaut, ob man ein bestimmtes Spiel besitzt,
    hatte ich die Idee die GameInventory Applikation zu entwickeln, um seine Konsolen und Games zu verwalten</p>
  <p>Es soll auf einfache Art ein Spiel gesucht werden oder Spiele für die gewünschte Konsole nach Genres auflisten.</p>
  <hr>
  <h4>Beschreibung:</h4>
  <p>Game Inventar ist eine Webbasierte Applikation, mit der man seine Gamesammlung managen kann.</p>
  <p>In der Applikation kann man Publisher, Genres, Konsolen und Spielmodus erfassen. Ein Game kann dann beim Erfassen der gewünschte Publisher,
    die vorhandenen Konsolen die Spielmodus und die Genres hinzugefügt werden.</p>
  <p>Im Hauptmenu können Spiele danach anhand der Konsolen, der Genres und den Spielmodus sortiert werden.
    Der Nutzer kann somit ein Game aus seiner Sammlung direkt suchen und sieht auf welchen Konsolen er das
    Spiel besitzt und in was für einem Medium (Disc, Digital usw.…)</p>
  <hr>
  <h4>Funktionen:</h4>
  <div class="screens">
  <img src="../../../assets/images/gameInventory/Games1.png"
       class="img-fluid images"
       alt="..."
       (click)="open(0)">
  <div class="text">
    <p>Im Hauptmenu der App werden alle Games in einer Liste angezeigt.</p>
    <p>Für die Spiele wird ein Cover angezeigt, Name, Publisher und Erstveröffentlichung.</p>
  </div>
</div>
  <div class="screens">
    <img src="../../../assets/images/gameInventory/Games2.png"
         class="img-fluid images"
         alt="..."
         (click)="open(1)">
    <div class="text">
      <p>Die Games lassen sich nach den vorhandenen Konsolen sortieren.</p>
    </div>
  </div>
  <div class="screens">
    <img src="../../../assets/images/gameInventory/Games3.png"
         class="img-fluid images"
         alt="..."
         (click)="open(2)">
    <div class="text">
      <p>Die Games können nach den erfassten Genres sortiert werden.</p>
    </div>
  </div>
  <div class="screens">
    <img src="../../../assets/images/gameInventory/Games4.png"
         class="img-fluid images"
         alt="..."
         (click)="open(3)">
    <div class="text">
      <p>Alle Games lassen sich per Autocomplete suchen.</p>
    </div>
  </div>
  <div class="screens">
    <img src="../../../assets/images/gameInventory/Games7.png"
         class="img-fluid images"
         alt="..."
         (click)="open(6)">
    <div class="text">
      <p>Mit doppelklick auf das gewünschte Game öffnet sich eine Detailanzeige mit allen Informationen zum Game.</p>
    </div>
  </div>
  <div class="screens">
    <img src="../../../assets/images/gameInventory/Games9.png"
         class="img-fluid images"
         alt="..."
         (click)="open(8)">
    <div class="text">
      <p>Über die Detailanzeige lässt sich das gewünschte Game bearbeiten oder auch löschen.</p>
    </div>
  </div>
  <div class="screens">
    <img src="../../../assets/images/gameInventory/Konsole1.png"
         class="img-fluid images"
         alt="..."
         (click)="open(10)">
    <div class="text">
      <p>Im Abschnitt Konsolen werden alle erfassten Konsolen des Benutzers angezeigt mit den erfassten Daten.</p>
    </div>
  </div>
  <div class="screens">
    <img src="../../../assets/images/gameInventory/Konsole2.png"
         class="img-fluid images"
         alt="..."
         (click)="open(11)">
    <div class="text">
      <p>Jede erfasste Konsole lässt sich auch bearbeiten oder löschen.</p>
    </div>
  </div>
  <div class="screens">
    <img src="../../../assets/images/gameInventory/Publisher.png"
         class="img-fluid images"
         alt="..."
         (click)="open(12)">
    <div class="text">
      <p>Im Abschnitt Publisher sieht der Benutzer alle Publsiher die er erfasst hat.</p>
    </div>
  </div>
  <div class="screens">
    <img src="../../../assets/images/gameInventory/Publisher2.png"
         class="img-fluid images"
         alt="..."
         (click)="open(13)">
    <div class="text">
      <p>Mit Klick auf einen Publisher erhält der Benutzer Informationen über den gewünschten Publisher und kann diesen bearbeiten oder löschen.</p>
    </div>
  </div>
  <div class="screens">
    <img src="../../../assets/images/gameInventory/Genre.png"
         class="img-fluid images"
         alt="..."
         (click)="open(14)">
    <div class="text">
      <p>Im Abschnitt Genre sieht der Benutzer alle Genres, die er erfasst hat und kann diese bearbeiten oder löschen.</p>
    </div>
  </div>
  <div class="screens">
    <img src="../../../assets/images/gameInventory/Settings.png"
         class="img-fluid images"
         alt="..."
         (click)="open(15)">
    <div class="text">
      <p>Im letzten Abschnitt Einstellungen hat der Benutzer noch eine Übersicht über alle erfassten Game Engines, Spielmodus und Mediums, diese lassen sich alle bearbeiten oder auch löschen.</p>
    </div>
  </div>

  <h4>Verwendete Technologien:</h4>
  <ul>
    <li>Angular</li>
    <li>Angular Material</li>
    <li>ASP.NET</li>
    <li>MSSQL</li>
  </ul>
  <hr>
  <h4>Umsetzung:</h4>
  <p>Die Applikation wurde min Angular als Frontend umgesetzt. Es wurden zudem diverse Angular Material Komponenten eingesetzt.</p>
  <p>Für das Backend wurde eine RESTFull API mit .NET in C# programmiert.</p>
  <p>Über die Endpunkte der REST lassen sich alle Daten bearbeiten, Anzeigen sowie auch löschen.</p>
  <p>Als Datenbank wurde eine Microsoft SQL-Datenbank gewählt.</p>
</div>
