<div class="container">
  <h3 class="text-center">GameInventory - Verwaltung deiner Spielekonsolen und Games:</h3>
  <section>
    <p>
      GameInventory ist eine webbasierte Applikation, die speziell für leidenschaftliche Spielekonsolen-Sammler
      entwickelt wurde. Die Anwendung ermöglicht eine effiziente Verwaltung der Gamesammlung sowie der dazugehörigen
      Konsolen.
    </p>
    <h4>Beschreibung:</h4>
    <p>
      In der GameInventory-Applikation kannst du Publisher, Genres, Konsolen und Spielmodi erfassen. Jedes Spiel kann
      dann mit den gewünschten Details wie Publisher, vorhandenen Konsolen, Spielmodi und Genres hinzugefügt werden. Die
      Hauptfunktionen der App konzentrieren sich darauf, Spiele nach Konsolen, Genres und Spielmodi zu sortieren und zu
      durchsuchen.
    </p>
  </section>
  <section>
    <gallery *ngIf="galleryConfig$ | async; let config"
             [items]="images"
             [thumbWidth]="config.thumbWidth"
             [thumbHeight]="config.thumbHeight"
             [thumbPosition]="config.thumbPosition"
             [imageSize]="'contain'"
             [counter]="false"
             [itemAutosize]="false"
             [autoHeight]="false"
             [playerInterval]="5000"
             [autoPlay]="false"></gallery>
  </section>
  <section>
    <h4>Funktionen:</h4>
    <ol>
      <li>Hauptmenü:</li>
      <ul>
        <li>Anzeige aller Spiele mit Cover, Name, Publisher und Erstveröffentlichung.
        <li>Sortierung nach vorhandenen Konsolen.</li>
        <li>Sortierung nach erfassten Genres.</li>
        <li>Autovervollständigung für die schnelle Suche nach Spielen.</li>
      </ul>
      <li>Detailansicht:</li>
      <ul>
        <li>Doppelklick auf ein Spiel öffnet eine Detailansicht mit allen relevanten Informationen.</li>
        <li>Bearbeitung oder Löschung des ausgewählten Spiels möglich.</li>
      </ul>
      <li>Konsolen-Übersicht:</li>
      <ul>
        <li>Anzeige aller erfassten Konsolen mit relevanten Daten.</li>
        <li>Bearbeitung oder Löschung jeder erfassten Konsole.</li>
      </ul>
      <li>Publisher-Übersicht:</li>
      <ul>
        <li>Anzeige aller erfassten Publisher mit Details bei Klick.</li>
        <li>Bearbeitung oder Löschung der Publisher.</li>
      </ul>
      <li>Genre-Übersicht:</li>
      <ul>
        <li>Anzeige aller erfassten Genres mit Bearbeitungs- und Löschmöglichkeiten.</li>
      </ul>
      <li>Einstellungen:</li>
      <ul>
        <li>Übersicht über erfasste Game Engines, Spielmodi und Mediums.</li>
        <li>Bearbeitung oder Löschung der Einstellungen.</li>
      </ul>
    </ol>
  </section>
  <section>
    <h4>Verwendete Technologien:</h4>
    <ul>
      <li><b>Frontend:</b> Angular, Angular Material</li>
      <li><b>Backend:</b> ASP.NET (RESTful API in C#)</li>
      <li><b>Datenbank:</b> Microsoft SQL</li>
    </ul>
  </section>
  <section>
    <h4>Umsetzung:</h4>
    <p>
      Die Applikation wurde mit Angular im Frontend umgesetzt, wobei verschiedene Angular Material Komponenten für ein
      benutzerfreundliches Design verwendet wurden. Das Backend wurde als RESTful API mit .NET in C# programmiert. Über
      die API-Endpunkte können alle Daten bearbeitet, angezeigt und gelöscht werden. Die Daten werden sicher in einer
      Microsoft SQL-Datenbank gespeichert.
    </p>
    <p>
      GameInventory bietet eine intuitive Benutzeroberfläche, die es Sammlern ermöglicht, ihre Spielekonsolen und Games
      auf einfache und effektive Weise zu verwalten.
    </p>
  </section>
</div>$
